{{>navbar}}

<div class="main4">
    <div class="container-fluid col-md-10 col-12 main41">

        <div class="errorImg">
            <img src="images/404error1.svg" class="img-fluid" alt="error!">
        </div>

        <div class="errorMsg">
        <h1>Oops! page not found</h1>
        </div>

        <div class="go_home">
         <a href="/"><button class="homeBtn btn">G0 HOME</button></a>
        </div>
    </div>
</div>

{{>footer}}